<% @plans.each do |plan|%>
  <div class="panel">
   <div class="row">
      <div class="small-1 columns">
         <i class="fi-dollar %> size-30"></i>
      </div>
      <div class="small-11 columns">
         <h5><%= link_to plan.name, rates_price_plan_path(plan) %></h5>
      </div>
    </div>
    <div class="row">
   </div>
   <div class="row">
   </div>
 </div>
   
<% end %>
