<div class="row">
   <div class="small-1 columns">
      <i class="fi-dollar %> size-30"></i>
   </div>
   <div class="small-11 columns">
      <h5><%= link_to plan.name, price_plan_path(plan) %></h5>
   </div>
 </div>
 <div class="row">
   <%= link_to "New Supply Node Charges", new_price_plan_supply_node_path(plan), class: "button small" %>
</div>
<div class="row">
</div>
