 <div class="icon-bar six-up">
   <a class="item">
     <i class="fi-home"></i>
     <label>Home</label>
   </a>

   <%= link_to(price_plans_path, class: "item") do %>
     <i class="fi-pricetag-multiple"></i>
     <label>Plans</label>
   <% end %>

 </div>
