
<div class="row">
  <div class="small-6 columns">
    <div class="small-6 columns">
      <%= label_tag(:period_type, nil, class: "right inline", title: "name the period", data: {tooltip: true }) %>
    </div>
    <div class="small-6 columns">
      <%= select_tag(:period_type, options_for_select(periods_select(:period_type)), :include_blank => true, :prompt => "Select a option") %>
    </div>

  </div>
  <div class="small-6 columns">

  </div>
</div>
